@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --Blue: hsl(246, 80%, 60%);
  --Light_red: hsl(15, 100%, 70%); /*work*/
  --Soft_blue: hsl(195, 74%, 62%); /*play*/
  --Light_red1: hsl(348, 100%, 68%); /*study*/
  --Lime_green: hsl(145, 58%, 55%); /*exercise*/
  --Violet: hsl(264, 64%, 52%); /*social*/
  --Soft_orange: hsl(43, 84%, 65%); /*self_care*/

  /* neutral */
  --Very_dark_blue: hsl(226, 43%, 10%);
  --Dark_blue: hsl(235, 46%, 20%);
  --Desaturated_blue: hsl(235, 45%, 61%);
  --Pale_Blue: hsl(236, 100%, 87%);

  /* font size */
  --fontSize: 18px;
  --fontWeight3: 300;
  --fontWeight4: 400;
  --fontWeight5: 500;
}

main {
  max-width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very_dark_blue);
}

div.reportContainer {
  width: 90%;
  max-width: 1000px;
}

img.avatar {
  border-radius: 50%;
  width: 75%;
  max-width: 100px;
  border: 5px solid white;
  display: block;
  margin-left: 1.5rem;
  margin-top: 2.5rem;
}

div.gridContainer {
  display: grid;
  margin: 7.55rem 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* grid-template-rows: repeat(2, 400px); */
}

.mainProfileContainer {
  /* background-color : var(--Blue); */
  grid-row: 1/3;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

div.profileContainer {
  flex: 2;
  background-color: var(--Blue);
  border-radius: 15px;
  z-index: 12;
  display: flex;
  flex-direction: column;
}

div.avatarContainer{
  flex: 1;
}

div.textContainer{
  flex: 2;
}

div.timeContainer {
  flex: 1;
  background-color: var(--Dark_blue);
  border-radius: 15px;
  position: relative;
  top: -32px;
}

p.title1 {
  /* font-size: var(--fontSize); */
  font-weight: var(--fontWeight3);
  font-family: "Rubik", sans-serif;
  margin-left: 1.5rem;
  margin-top: 2rem;
  color: var(--Pale_Blue);
}

p.content {
  font-weight: var(--fontWeight3);
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  margin-left: 1.5rem;
  margin-top: 0.7rem;
  margin-bottom: 3.7rem;
  color: var(--Pale_Blue);
}

ul.trackingList {
  margin-left: 1.5rem;
  margin-top: 3.7rem;
  margin-bottom: 2rem;
}

ul.trackingList > li.trackingListItem {
  margin: 1rem 0;
  list-style: none;
}

li.trackingListItem > a {
  color: var(--Desaturated_blue);
  font-family: "Rubik", sans-serif;
  font-weight: var(--fontWeight3);
  text-decoration: none;
}

li.trackingListItem > a:hover {
  color: var(--Pale_Blue);
}

.workContainer {
  display: flex;
  flex-direction: column;
}

div.imageDesignContainer {
  flex: 1;
  background-color: var(--Light_red);
  border-radius: 15px;
}

div.imageDesignContainer > svg {
  float: right;
  margin-right: 1rem;
}

div.contentsContainer {
  flex: 2;
  background-color: var(--Dark_blue);
  border-radius: 15px;
  position: relative;
  top: -25px;
}

div.contentsContainer:hover {
  background-color: var(--Desaturated_blue);
  cursor: pointer;
}

div.contentsContainer1:hover {
  background-color: var(--Desaturated_blue);
  cursor: pointer;
}

div.contentsContainer2:hover {
  background-color: var(--Desaturated_blue);
  cursor: pointer;
}

div.contentsContainer3:hover {
  background-color: var(--Desaturated_blue);
  cursor: pointer;
}

p.leftText {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: var(--fontSize);
  font-weight: var(--fontWeight4);
  color: var(--Pale_Blue);
}


p.hrsTextWeekly {
  font-weight: var(--fontWeight3);
  font-size: 3rem;
  font-family: "Rubik", sans-serif;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  color: var(--Pale_Blue);
}

p.hrsTextPreviousWeekly {
  /* font-size: var(--fontSize); */
  font-weight: var(--fontWeight3);
  font-family: "Rubik", sans-serif;
  color: var(--Pale_Blue);
}
div.smallerContainer {
  margin: 1.5rem;
}

.playContainer {
  display: flex;
  flex-direction: column;
}

div.imageDesignContainer1 {
  flex: 1;
  background-color: var(--Soft_blue);
  border-radius: 15px;
}

div.imageDesignContainer1 > svg {
  float: right;
  margin-right: 1rem;
}

.studyContainer {
  display: flex;
  flex-direction: column;
}


div.imageDesignContainer2 {
  flex: 1;
  background-color: var(--Light_red1);
  border-radius: 15px;
}

div.imageDesignContainer2 > svg {
  float: right;
  margin-right: 1rem;
}

.exerciseContainer {
  display: flex;
  flex-direction: column;
}


div.imageDesignContainer3 {
  flex: 1;
  background-color: var(--Lime_green);
  border-radius: 15px;
}

div.imageDesignContainer3 > svg {
  float: right;
  margin-right: 1rem;
}


div.contentsContainer1 {
  flex: 2;
  background-color: var(--Dark_blue);
  border-radius: 15px;
  position: relative;
  top: -34px;
}

.socialContainer {
  display: flex;
  flex-direction: column;
}

div.contentsContainer2 {
  flex: 2;
  background-color: var(--Dark_blue);
  border-radius: 15px;
  position: relative;
  top: -34px;
  cursor: pointer;
}

div.contentsContainer3 {
  flex: 2;
  background-color: var(--Dark_blue);
  border-radius: 15px;
  position: relative;
  top: -34px;
  cursor: pointer;
}


div.imageDesignContainer4 {
  flex: 1;
  background-color: var(--Violet);
  border-radius: 15px;
  overflow: hidden;
}

div.imageDesignContainer4 > svg {
  float: right;
  margin-right: 1rem;
  margin-top: -11px;
}

.selfCareContainer {
  display: flex;
  flex-direction: column;
}


div.imageDesignContainer5 {
  flex: 1;
  background-color: var(--Soft_orange);
  border-radius: 15px;
}

div.imageDesignContainer5 > svg {
  float: right;
  margin-right: 1rem;
}

.ellipsis{
  float: right;
  cursor: pointer;
}


@media only screen and (max-width:768px){
  div.gridContainer{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7,auto);
  }

  .mainProfileContainer{
    grid-row: 1;
  }

  div.profileContainer{
    flex-direction: row;
  }

  ul.trackingList{
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    margin-top: 3.7rem;
  }

  p.content{
    margin-bottom: 1.7rem;
  }
}

